.type-area__base {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}

.type-area__button {
  position: relative;
  top: -9px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  transition: all 0.28s ease-in-out;
}

.type-area__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.type-area__button.is_activate {
  transform: rotate(45deg);
}
