.App {
  position: relative;
  padding-top: 1em;
  width: 80vw;
  height: calc(100vh - 1em);
  text-align: center;
}

.App-header {
  user-select: none;
  padding: 0 5vw;
  width: 90vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #282c34;
}

.App-header h1 {
  margin: 0;
}

.App-main {
  margin-top: 2em;
  padding: 0 10vw;
  width: 80vw;
  min-height: calc(100vh - 3em - 40px);
  text-align: left;
}
