.App {
  position: relative;
  padding: 0 10vw;
  padding-top: 1em;
  width: 80vw;
  height: calc(100vh - 1em);
  text-align: center;
}

.App-header {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #282c34;
}

.App-header h1 {
  margin: 0;
}

.App-main {
  margin: 2em 0 1em 0;
}
